// @use '@/assets/scss/abstracts/_var' as *;
// @use '@/assets/scss/abstracts/_mixins' as *;





a[data-hover] {
    &.active {
        cursor: none;
    }
}

a[data-img] {
    &.active {
        cursor: none;
    }
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    transition: background 1s;
    &.white {
        background-color: #fff;
    }
    &.black {
        background-color: #000;
    }
}

.bg-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0,0,0,.6);
}

.txt-line1,
.txt-line2,
.txt-line3,
.contact-txt {
    perspective: 400px;
}

.txt-motion {
    display: inline-block;
}

@include tablet {
    body {
        cursor: auto;
    }
    .cursor {
        display: none;
    }
}
