@use 'sass:math';
@use 'sass:list';
@use 'sass:meta';
@use './_var' as v;

// Module configuration
$pc: 1023px !default;
$tablet: 961px !default;
$mobile: 960px !default;

// px to rem 변환 함수
@function rem($values...) {
    $result: ();
    @each $value in $values {
        @if meta.type-of($value) == number {
            $result: list.append($result, math.div($value, 14) + rem);
        } @else {
            $result: list.append($result, $value);
        }
    }
    @return $result;
}

@mixin ellip($line-height: 15px, $lines: 1) {
    text-overflow: ellipsis;
    overflow: hidden;

    @if($lines > 1){
        line-height: $line-height;
        max-height: $line-height * $lines;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical; /* autoprefixer: off */
    }@else{
        white-space: nowrap;
    }
}

@mixin position-Center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin round-Point {
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    font-family: v.$font-en4;
    font-size: 12px;
    transition: background-color 0.8s, border 0.8s , color 0.8s;
}

// PC (1024px 이상)
@mixin pc {
    @media (min-width: 1024px) {
        @content;
    }
}

// 태블릿 (768px ~ 1023px)
@mixin tablet {
    @media (min-width: $tablet) and (max-width: $pc) {
        @content;
    }
}

// 모바일 (767px 이하)
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

// 반응형 예시
// @include mobile {
//     body {
//         background-color: red;
//     }
// }